.DS_Store
*.sw?
.idea
.vscode
.terragrunt-cache
.terraform
.terraform/*
gen-*.tf
*.txt.apply
*.digest
*.plan
tickets/test*
tmp/*
bundle
.bundle
vendor
.terraform.lock.hcl
ca.*
*.crt
*.key
.confluent/credentials.yaml
